body { 
	margin:0; 
	padding:0; 
	}
	
p {
	margin:0 0 10px 0;
	padding:0;
	}

.f1 {
	font:11px Georgia, "Times New Roman", Times, serif;
	background:#eee;
	margin:20px;
	padding:10px 20px;
	width:400px;	
	}
	
	.f1 ol {
		list-style:none;
		margin:0;
		padding:0;
		}
		
		.f1 li {
			padding:6px;
			background:#e1e1e1;
			margin-bottom:1px;
			}
			
			.f1 li#send {
				background:none;
				margin-top:6px;
				}
		
		.f1 label {
			float:left;
			width:120px;
			text-align:left;	
			margin-right:20px;
			color:#0066CC;
			line-height:18px; /* This will make the labels vertically centered with the inputs */
			}
			
		.f1 input,
		.f1 textarea {
			padding:4px;
			font:11px Georgia, "Times New Roman", Times, serif;
			border:1px solid #999990;
			width:200px;
			}
			
			.f1 input:focus,
			.f1 textarea:focus {
				border:1px solid #666;
				background:#e3f1f1;
				}
			
		.f1 li#send button {
			background:#003366 url(images/css-.f1-send.gif) no-repeat 8px 50%;
			border:none;
			padding:4px 8px 4px 28px;
			border-radius:15%; /* Don't expect this to work on IE6 or 7 */
			-moz-border-radius:15%;
			-webkit-border-radius:15%;			
			color:#fff;
			margin-left:77px; /* Total width of the labels + their right margin */
			cursor:pointer;
			}
			
			.f1 li#send button:hover { 
				background-color:#006633;
				}
