<html>
<head>
	<link href="/static/css/helpdesk.css" rel=stylesheet type="text/css" />

</head>

<body>
<div>
<div style="top: 20px; float: right;">
	<a href="/archive/{{u}}">Archives</a>
    <a href="/hlogout/">Logout</a>
</div>
    <h1>
        Welcome {{user.first_name}}
    </h1>
</div>

Helpdesk Issue Assignment<br>


<div style="position:relative; width: 100%; height: 300px;">
<form method="POST" action="/helpdesk/{{user.id}}/" >{% csrf_token %}
<table class=responstable>
	<tr>
		<thead>
			<th>Ticket No.</th>
			<th>Date Submitted</th>
			<th>User</th>
			<th>Category</th>
			<th>Issues</th>
			<th>Helpdesk</th>
		</thead>
	</tr>
</table>
<div style="position:absolute; overflow: auto; width: 100%; height: 200px">
<table class=responstable>
	<tr>
		{% for i in l %}
	<tbody>
			<td><input type="checkbox" name="issueid" id="issueid" value={{i.id}}>{{i.id}}</input></td>	
			<td>{{i.date_entry}}</td>	
			<td>{{i.user.username}}</td>	
			<td>{{i.issue_type.value}}</td>	
			<td>{{i.issue_desc}}</td>	
			<td>{{i.ap_id}}</td>
	</tbody>
		{% endfor %}
	</tr>
</table>

</div>
<div style="position:absolute; bottom: 0">
Assigned to
				<select name="itadmin" id="itadmin"><option value="default">----select----</option>
				{% for j in a %}<option value={{j.id}}>{{j.username}}</option>{% endfor %}
				</select>	
<input type="submit"></input>
</form>
</div>

</div>

<div style="position:relative; top: 20px; height: 500px;">
For deployment
	<table class=responstable>
		<tr>
			<thead>
				<th>Ticket No.</th>
				<th>Date Assigned</th>
				<th>User</th>
				<th>Category</th>
				<th>Issues</th>
				<th>Helpdesk</th>
			</thead>
		</tr>
	</table>
	<div style="position:absolute; overflow: auto; width: 100%; height: 300px;">
	<table class=responstable>
		<tr>
			{% for s in m %}
			<tbody>
				<td><a href="/update/{{user.id}}/{{s.id}}/" id="updateid">{{s.id}}</td></a>
				<td>{{s.date_assign}}</td>	
				<td>{{s.user.username}}</td>	
				<td>{{s.issue_type.value}}</td>	
				<td>{{s.issue_desc}}</td>	
				<td>{{s.ap.username}}</td>
			</tbody>
			{% endfor %}
		</tr>
	</table>
	</div>
</div>
</body>
</html>
